
<ngb-carousel>
  <ng-template ngbSlide>
    <img class="img-carousel" src="../../../assets/images/bola.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="img-carousel" src="../../../assets/images/basquete.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>

</ngb-carousel>
