
<ngb-carousel>
  <ng-template ngbSlide>
  <div class="carousel-div">
      <img class="img-carousel img-fluid" src="../../../assets/images/bola.jpg" alt="Random first slide">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
  <div class="carousel-div">
      <img class="img-carousel img-fluid" src="../../../assets/images/basquete.jpg" alt="Random first slide">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>
  </ng-template>

</ngb-carousel>
