@import '../../../variables';

$height: 23em;

.carousel-div {
  position: relative;
  width: 100%;
  height: $height;
}

.img-carousel {
  width: 100%;
  height: auto;
  position: absolute;
}

.carousel-caption {
  @include mobile {
    bottom: 90px;

    h3 {
      font-size: 22px;
    }
  }

  background-color: #000000;
  opacity: 0.7;

  h3{
    opacity: 1;
  }
}
