
<div *ngIf="news">

<ngb-carousel >
  <ng-template ngbSlide *ngFor="let new of news ">
    <div class="carousel-div">
      <img class="img-carousel" [src]="new.media" alt="">
      <div class="carousel-caption">
        <h3>{{ new.title}}</h3>
        <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
      </div>
    </div>
  </ng-template>
  <!-- <ng-template ngbSlide>
    <img class="img-carousel" src="../../../assets/images/basquete.jpg" alt="">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template> -->

</ngb-carousel>

</div>
