@import '../../../variables';

.main-page {
  width: 75%;
  margin: 0 auto;
  padding-top: 70px;
  h3 {
    font-weight: 700;
  }
  hr {
    border-top: 1px solid white;
    padding-bottom: 40px;
  }
  &__news {
    padding-bottom: 70px;
  }
  &__communities {
    padding-bottom: 70px;
  }
}
.img-card {
  height: 11em;
}

.align-items-stretch {
  min-height: 100%;
}

.icons{
  bottom: 1em;
  right: 1em;
}

.card {
  cursor: pointer;
  &:hover {
    background-color: black;
    color: white;
  }
}

.card-body {
  .icon {
    margin-left: 5px;
    &:hover {
      color: $orange;
    }
  }
}

.buttons {
  text-align: right;
  .create-btn {
    background-color: black;
    color: white;
    padding:20px;
    display: inline-block;
    &:hover {
      background-color: $orange;
      cursor: pointer;
    }
  }
  
  .search-btn {
    background-color: black;
    color: rgb(150, 150, 150);
    padding:20px;
    padding-right: 40px;
    display: inline-block;
    margin-left: 40px;
  }
  .icon {
    margin-right: 10px;
  }
}