<h3 class="text-white text-center p-4">RECENT NEWS</h3>

<div class="d-flex flex-row flex-wrap justify-content-around">
  <div *ngFor="let news of newsList">
    <div class="card align-items-stretch" style="width: 18rem;">
      <img [src]="news.media" class="card-img-top img-card" [alt]="news.title">
      <div class="card-body">
        <p class="card-text">{{ news.title }}
          content.</p>
        <div class="float-right">
          <i class="far fa-thumbs-down"></i>
          <i class="far fa-thumbs-up"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="p-5">

<h3 class="text-white text-center">MY COMMMUNITIES</h3>
