<div class="main-page">
  <h3 class="text-white text-center p-4">RECENT NEWS</h3>

  <div class="d-flex flex-row flex-wrap justify-content-around main-page__news">
    <div *ngFor="let news of newsList">
      <div class="card align-items-stretch" style="width: 18rem;">
        <img [src]="news.media" class="card-img-top img-card" [alt]="news.title">
        <div class="card-body">
          <p class="card-text">{{ news.title }}</p>
          <div class="position-absolute icons">
            <i class="icon far fa-thumbs-up"></i> 0
            <i class="icon far fa-thumbs-down"></i> 0
            <i class="icon fas fa-beer"></i> 0    
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <h3 class="text-white text-center p-4">MY GROUP</h3>


  <div class="d-flex flex-row flex-wrap justify-content-around main-page__communities">
    <div class="card align-items-stretch" style="width: 18rem;" routerLink="/community">
      <img src="../../../assets/images/basket-group.jpg" class="card-img-top img-card" alt="basketball gorup">
      <div class="card-body">
        <p class="card-text">Watch basketball game on Wednesdays in New York City</p>
      </div>
    </div>
    <div *ngFor="let news of groupList">
      <div class="card align-items-stretch" style="width: 18rem;">
        <img src="../../../assets/images/soccer-group.jpg" class="card-img-top img-card" alt="soccer gorup">
        <div class="card-body">
          <p class="card-text">{{ news.title }}</p>
        </div>
      </div>
    </div>
  </div>
  <hr>


  <h3 class="text-white text-center p-4">UPCOMING EVENTS</h3>


  <div class="d-flex flex-row flex-wrap justify-content-around main-page__news">
    <div class="card align-items-stretch" style="width: 18rem;">
      <img src="../../../assets//images/jogo-corinthians.jpg" class="card-img-top img-card" alt="Jogo corinthians">
      <div class="card-body">
        <p class="card-text">Campeonato Paulista <br> Corinthians x Santos </p><small>Sunday 31st March, 16:00</small>
      </div>
    </div>
    <div class="card align-items-stretch" style="width: 18rem;">
        <img src="../../../assets//images/cadiff.jpg" class="card-img-top img-card" alt="Jogo corinthians">
        <div class="card-body">
          <p class="card-text">Premier League <br> Cardiff x	Chelsea	</p><small>Sunday 31st March, 16:00</small>
        </div>
    </div>
    <div class="card align-items-stretch" style="width: 18rem;">
      <img src="../../../assets//images/bristol.jpg" class="card-img-top img-card" alt="Jogo corinthians">
      <div class="card-body">
        <p class="card-text">Championship <br> Middlesbrough x Bristol City</p><small>Tuesday 2nd April, 19:45</small>
      </div>
    </div>
  </div>
<div class="buttons">
  <div class="create-btn"><i class="icon fas fa-plus-circle"></i>create new group</div>
  <div class="search-btn"><i class="icon fas fa-search" style="color: white"></i>group search</div>
</div>
</div>