<div class="community">
  <div class="community__header">
    <div class="community__header__title">
      <span>gorup</span>
      <h2>
        Watch basketball game on Wednesdays in New York City
      </h2>
    </div>
    <div class="community__header__join">
      <i class="fas fa-user-plus community__header__join__icon"></i>
      <span class="community__header__join__text">
        join
      </span>
    </div>
  </div>
  <div class="community__body container">
    <div class="input-box">
      <h3 class="community__body__comment-title">what's up?</h3>
      <textarea class="form-control" cols="30" rows="10" placeholder="what's happening?">
  
        </textarea>
      <button class="btn"><i class="fas fa-paper-plane"></i></button>

    </div>
    <div class="community__body__comment">
        <img src="../../../assets/images/avatar2.png" alt="avatar">
        <span class="author">Brit Hudson</span>
        <span class="date">March 31, 2019 - 10am</span>
        <p>Hey guys, I'm confirmed!! Go KNICKS!!</p>
    </div>
    <div class="community__body__comment">
      <img src="../../../assets/images/avatar.png" alt="avatar">
      <span class="author">João da Silva</span>
      <span class="date">March 31, 2019 - 8am</span>
      <p>Hi Alex, what's up? It looks great, I'll bring some beers and some friends, ok ?</p>
    </div>
    <div class="community__body__comment">
      <img src="../../../assets/images/avatar1.png" alt="avatar">
      <span class="author">Alex Smith</span>
      <span class="date">March 31, 2019 - 7am</span>
      <p>Hey guys, let's watch the game at my house next week?.</p>
    </div>
  </div>
</div>