@import '../../../variables.scss';

.header {
    background-color: black;
    &__btns {
        &__sign-in,
        &__sign-up {
            color: white;
            text-transform: uppercase;
            font-family: $font;
        }
        &__sign-in {
            border-right: 1px solid white;
        }
    }   
}