@import '../../../variables';

.login {
    padding-top: 200px;
}
    
.card{
    height: 436px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgb(0, 0, 0) !important;
    border-radius: 0;
}
    
.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: $orange;
}
    
.social_icon span:hover{
    color: white;
    cursor: pointer;
}
    
.card-header h3{
    color: white;
}
    
.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}
    
.input-group-prepend span{
    width: 50px;
    background-color: $orange;
    color: black;
    border:0 !important;
}
    
input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;    
}
    
.remember{
    color: white;
}
    
.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}
    
.login_btn{
    color: black;
    background-color: $orange;
    width: 100px;
}
    
.login_btn:hover{
    color: black;
    background-color: white;
}
    
.links{
    color: white;
}
    
.links a{
    margin-left: 4px;
    color: $orange;
}