<div class="container news-page">
  <h2 class="news-page__title text-center">{{ news.title }}</h2>
  <div class="news-page__image">
    <img [src]="news.media" [alt]="news.title">
  </div>
  <div class="news-page__text">
    <div>{{ news.message }}
    </div>
  </div>
  <div class="news-page__react-share">
    <div class="d-inline-block">
      <i class="far fa-thumbs-up d-block news-page__react-share__icon"></i>
      <span class="d-block">111</span>
    </div>
    <div class="d-inline-block">
      <i class="far fa-thumbs-down d-block news-page__react-share__icon"></i>
      <span class="d-block">16</span>
    </div>
    <div class="d-inline-block">
      <i class="fas fa-beer d-block news-page__react-share__icon"></i>
      <span class="d-block">911</span>
    </div>
    <div class="news-page__react-share__share">
      <span class="share-text">share</span>
      <span class="facebook"><i class="fab fa-facebook-f"></i></span>
      <span class="twitter"><i class="fab fa-twitter"></i></span>
    </div>
  </div>
  <div class="form-group news-page__comments">
    <div class="input-box">
      <h3 class="news-page__comments__title">leave a comment</h3>
      <textarea class="form-control" [(ngModel)]="message" cols="30" rows="10" (keyup)="sendMessage($event)">
  
      </textarea>
      <button class="btn"><i class="fas fa-paper-plane"></i></button>
    </div>
    <div class="news-page__comments__item" *ngFor="let c of comments">
      <img [src]="c.photoUrl" [alt]="c.from.name" *ngIf="c.photoUrl; else photo">
      <ng-template #photo>
        <img src="../../../assets/images/avatar.png" alt="avatar">
      </ng-template>
      <span class="author">{{ c.from.name }}</span>
      <span class="date">{{ c.create_data | date: 'dd/MM/yyyy hh:mm' || '-' }}</span>
      <p>{{ c.content }}</p>
    </div>
  </div>
</div>
