<h1 class="text-white text-center p-4">
  WHERE FANS UNITE FOR A PASSION
</h1>
<div class="d-flex justify-content-around flex-row flex-wrap">
  <div class="dashboard-item position-relative p-2">
    <img class="img-card" src="../../../assets/images/baseball.jpg">
    <p class="text-white position-absolute" >Baseball</p>
  </div>
  <div class="dashboard-item position-relative p-2">
    <img class="img-card" src="../../../assets/images/basketball.jpg">
    <p class="text-white position-absolute">Basketball</p>
  </div>
  <div class="dashboard-item position-relative p-2">
    <img class="img-card" src="../../../assets/images/f1.jpg">
    <p class="text-white position-absolute">F1</p>
  </div>
  <div class="dashboard-item position-relative p-2 pt-5">
    <img class="img-card" src="../../../assets/images/football.jpg">
    <p class="text-white position-absolute">Football</p>
  </div>
  <div class="dashboard-item position-relative p-2 pt-5">
    <img class="img-card" src="../../../assets/images/hockey.jpg">
    <p class="text-white position-absolute">Hockey</p>
  </div>
  <div class="dashboard-item position-relative p-2 pt-5">
    <img class="img-card" src="../../../assets/images/soccer.jpg">
    <p class="text-white position-absolute">Soccer</p>
  </div>
</div>
