.img-card {
  width: 21em;
  height: 20em;
  cursor: pointer;
}

.img-card:hover {
    background-color: gray;
    opacity: 0.5;

  }

  .dashboard-title {
    font-weight: 700;
    font-size: 36px;
  }