<h3 class="text-white text-center p-4">
  WHERE FANS UNITE FOR A PASSION
</h3>
<div class="dashboard-card d-flex justify-content-around flex-row flex-wrap">
  <div class="p-2">
    <img class="img-card" src="../../../assets/images/estadio1.jpg">
  </div>
  <div class="p-2">
    <img class="img-card" src="../../../assets/images/estadio1.jpg">
  </div>
  <div class="p-2">
    <img class="img-card" src="../../../assets/images/estadio1.jpg">
  </div>
  <div class="p-2">
    <img class="img-card" src="../../../assets/images/estadio1.jpg">
  </div>
</div>
