<h1 class="text-white text-center p-4 dashboard-title">
  WHERE FANS UNITE FOR A PASSION
</h1>
<div class="dashboard-card d-flex justify-content-around flex-row flex-wrap">
  <div class="p-2">
    <img class="img-card" src="../../../assets/images/baseball.jpg">
  </div>
  <div class="p-2">
    <img class="img-card" src="../../../assets/images/basketball.jpg">
  </div>
  <div class="p-2">
    <img class="img-card" src="../../../assets/images/f1.jpg">
  </div>
  <div class="p-2 pt-5">
    <img class="img-card" src="../../../assets/images/football.jpg">
  </div>
  <div class="p-2 pt-5">
    <img class="img-card" src="../../../assets/images/hockey.jpg">
  </div>
  <div class="p-2 pt-5">
    <img class="img-card" src="../../../assets/images/soccer.jpg">
  </div>
</div>
